body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

div {
  font-family: 'Open Sans', sans-serif !important;
}

.addDrupalItem {
  left: 10px;
  position: absolute;
  transform: scale(0.5);
}

.panelLowerPaper {
  bottom: 64px;
  position: absolute;
  width: 100%;
  height: 42px;
}

.mapboxgl-popup-content {
  box-shadow: 0 0 10px 2px rgba(31, 51, 73, .25) !important;
  padding: 8px !important;
  color: rgb(39, 61, 86) !important;
  font-size: 10px !important;
}
