Html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.InfoPanelPaper {
  height: 548px;
  width: 400px;
  margin: 20px;
}

.tab {
  font-size: 12px !important;
  padding: 20px;
}

.tabTitle {
  font-Size: 16px;
  margin: 0px 0px 12px 10px;
}

.run {
  position: absolute;
  bottom: 60px;
  right: 43px;
}

.FileUploadForm {
  margin-bottom: 4px;
}

.uploadControls {
  font-size: 13px;
  margin: 15px 0px 0px 10px;
}

.uploadFileTD {
  width: 155px;
  background-color: #F7F7F7;
  border-radius: 5px;
  /*border: 1px solid #F0F0F0;*/
}

.uploadFileField {
  padding: 2px;
}

.uploadFileFieldLabel {
  display: inline-block;
  padding-left: 5px;
}

.uploadFileFieldIcon {
  display: inline-block;
  padding-left: 5px;
}

.mandatoryIcon {
  display: inline-block;
  padding-left: 6px;
}

.footer {
  background-color: rgb(0, 188, 212);
  color: white;
  position: absolute;
  bottom: -13px;
  width: 400px;
  font-size: 13px;
  padding: 5px 27px;
}

.email {
  text-decoration: underline;
}

.tabPanel {
  margin: 15px;
}

#log {
  height: 270px;
  width: 353px;
  font-size: 12px;
  overflow: scroll;
  margin-left: 10px;
}

.ReactTable {
  height: 239px;
  font-size: 12px;
}

.rt-td {
  padding: 0px 5px !important;
}

#popup {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.popupHeader {
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
}

.summary_infoTable {
  height: 300px;
  /*width:270px;*/
  margin-left: 9px;
  margin-right: 8px;
}

.rt-tr-group {
  cursor: pointer !important;
}

table input {
  font-size: 13px;
}

.uploadDiv {
  cursor: pointer;
}

.scenarioNameEditBox {
  position: absolute;
  z-index: 1000000;
  margin-left: 24px;
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  background-color: rgb(0, 188, 212);
  border: 0px;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.scenarioSpinner {
  position: absolute;
  top: 31px;
  margin-left: 112px;
}

.loginSpinner {
  position: absolute;
  top: 31px;
  margin-left: 66px;
}

.resendSpinner {
  position: absolute;
  top: 31px;
  margin-left: 145px;

}

.newUserSpinner {
  position: absolute;
  top: 31px;
  margin-left: 100px;

}

.runningSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.scenariosBtn {
  margin: 5px;
}

.chooseRenderer {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: white;
}

.mapboxHelp {
  cursor: pointer;
  margin-left: 10px;
}

.forgotLink {
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  color: cadetblue;
  margin-left: 11px;

}

div.rt-tbody > div > div > div > div{
  background-color: rgba(0,0,0,0) !important;
}