Html,
body {
  height: 100%;
  background-color: lightgrey;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

#InfoPanel {
  height: 548px;
  width: 400px;
  margin: 20px;
}

.textFieldClass {
  height: 33px !important;

}

.rt-noData {
  display: none !important;
}

.tab {
  font-size: 12px !important;
  padding: 20px;
}

.tabTitle {
  font-Size: 16px;
  margin: 0px 0px 12px 10px;
}

.solutionHeader {
  font-Size: 16px;
  margin-Bottom: 12px;
  font-Weight: 400;
}

.run {
  position: absolute;
  bottom: 60px;
  right: 43px;
}

.runParamsTable {
  font-size: 13px;
  margin-left: 10px;
}

.FileUploadForm {
  margin-bottom: 4px;
}

.uploadControls {
  font-size: 13px;
  margin: 15px 0px 0px 10px;
}

.uploadFileTD {
  width: 155px;
  background-color: #F7F7F7;
  border-radius: 5px;
  /*border: 1px solid #F0F0F0;*/
}

.uploadFileField {
  padding: 2px;
}

.uploadFileFieldLabel {
  display: inline-block;
  padding-left: 5px;
}

.uploadFileFieldIcon {
  display: inline-block;
  padding-left: 5px;
}

.footer {
  background-color: rgb(0, 188, 212);
  color: white;
  position: absolute;
  bottom: 20px;
  width: 400px;
  font-size: 13px;
  padding: 5px 27px;
}

.email {
  text-decoration: underline;
}

.tabPanel {
  margin: 15px;
}

.uploadImg {
  padding: 10px;
  cursor: pointer;
}

#log {
  height: 270px;
  width: 353px;
  font-size: 12px;
  overflow: scroll;
  margin-left: 10px;
}

.ReactTable {
  height: 239px;
  font-size: 12px;
}

.rt-td {
  padding: 0px 5px !important;
}

#popup {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.popupHeader {
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
}

.summary_infoTable {
  height: 300px;
  /*width:270px;*/
  margin-left: 9px;
  margin-right: 8px;
}

.rt-tr-group {
  cursor: pointer !important;
}

table input {
  font-size: 13px;
}

.uploadDiv {
  cursor: pointer;
}

#blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.9;
  z-index:100000;
}

#loginForm {
  background-color: white;
  width: 300px;
  position: relative;
  font-size: 13px;
  z-index: 100000000000000;
}

.loginTitle h1 {
  height: 52px;
  line-height: 52px;
  font-size: 13px;
}

.gpc {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.pc {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.createNewUserDiv {
  text-align: center;
  padding-bottom: 10px;
}

.createNewUserText {
  color: rgba(0, 0, 0, 0.3);
}

.createNewUserBtn {
  margin: 4px;
}

.loginUserField {
  width: 80% !important;
}
