body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

#InfoPanel {
  height: 500px;
  width: 400px;
  margin: 20px;
}

.rt-noData {
  display: none !important;
}

.tab {
  font-size: 12px !important;
  padding: 20px;
}

.tabTitle {
  font-Size: 18px;
  margin-Bottom: 12px;
  font-Weight: 400;
}

.solutionHeader{
  font-Size: 16px;
  margin-Bottom: 12px;
  font-Weight: 400;
}
.run {
  position: absolute;
  bottom: 36px;
  left: 165px;
}

.tabPanel {
  margin: 15px;
}

.uploadImg {
  padding: 10px;
  cursor: pointer;
}

#log {
  height: 243px;
  width: 370px;
  /*font-size: 13px;*/
  overflow: scroll;
}

.ReactTable {
  height: 239px;
  font-size: 12px;
}

.rt-td {
  padding: 0px 5px !important;
}

#popup {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.popupHeader {
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
}

.summary_infoTable{
  height:157px;
  width:270px;
}