body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

#InfoPanel {
  height: 548px;
  width: 400px;
  margin: 20px;
}

.textFieldClass {
  height: 33px !important;

}

.rt-noData {
  display: none !important;
}

.tab {
  font-size: 12px !important;
  padding: 20px;
}

.tabTitle {
  font-Size: 16px;
  margin: 0px 0px 12px 10px;
}

.solutionHeader {
  font-Size: 16px;
  margin-Bottom: 12px;
  font-Weight: 400;
}

.run {
  position: absolute;
  bottom: 60px;
  right: 43px;
}

.runParamsTable {
  font-size: 13px;
  margin-left: 10px;
}

.uploadControls {
  font-size: 13px;
}

.footer {
  background-color: rgb(0, 188, 212);
  color: white;
  position: absolute;
  bottom: 20px;
  width: 400px;
  font-size: 13px;
  padding: 5px 10px;
}

.email {
  text-decoration: underline;
}

.tabPanel {
  margin: 15px;
}

.uploadImg {
  padding: 10px;
  cursor: pointer;
}

#log {
  height: 270px;
  width: 353px;
  font-size: 12px;
  overflow: scroll;
  margin-left: 10px;
}

.ReactTable {
  height: 239px;
  font-size: 12px;
}

.rt-td {
  padding: 0px 5px !important;
}

#popup {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.popupHeader {
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
}

.summary_infoTable {
  height: 300px;
  /*width:270px;*/
  margin-left: 9px;
  margin-right: 8px;
}

.rt-tr-group {
  cursor: pointer !important;
}
