Html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.InfoPanelPaper {
  height: 548px;
  width: 400px;
  margin: 20px;
}

.tab {
  font-size: 12px !important;
}

.tabTitle {
  font-Size: 14px;
  color: rgb(255, 64, 129);
}

.run {
  position: absolute;
  bottom: 60px;
  right: 43px;
}

.FileUploadForm {
  margin-bottom: 4px;
}

.uploadControls {
  font-size: 13px;
  margin-top: 5px;
}

.uploadFileTD {
  width: 155px;
  background-color: #F7F7F7;
  border-radius: 5px;
  /*border: 1px solid #F0F0F0;*/
}

.uploadFileField {
  padding: 2px;
}

.uploadFileFieldLabel {
  display: inline-block;
  padding-left: 5px;
}

.uploadFileFieldIcon {
  display: inline-block;
  padding-left: 5px;
}

.mandatoryIcon {
  display: inline-block;
  padding-left: 6px;
}

.footer {
  background-color: rgb(0, 188, 212);
  color: white;
  position: absolute;
  bottom: -13px;
  width: 400px;
  font-size: 13px;
  padding: 5px 27px;
}

.email {
  text-decoration: underline;
}

.tabPanel {}

#log {
  height: 275px;
  width: 440px;
  font-size: 12px;
  overflow: scroll;
  margin-left: 10px;
}

.ReactTable {
  height: 239px;
  font-size: 12px;
}

.rt-td {
  padding: 0px 5px !important;
}

#popup {
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.popupHeader {
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
}

.summary_infoTable {
  height: 300px;
  /*width:270px;*/
  /*margin-left: 9px;*/
  margin-right: 3px;
  margin-top: 5px;
}

.rt-tr-group {
  cursor: pointer !important;
}

table input {
  font-size: 13px;
}

.uploadDiv {
  cursor: pointer;
}

.scenarioNameEditBox {
  position: absolute;
  z-index: 1000000;
  margin-left: 24px;
  margin-top: 16px;
  font-family: Roboto, sans-serif;
  background-color: rgb(0, 188, 212);
  border: 0px;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.descriptionEditBox {
  position: absolute;
  z-index: 1000000;
  font-family: Roboto, sans-serif;
  border: 1px lightgray solid;
  font-size: 13px;
  width: 350px;
}

.scenarioSpinner {
  position: absolute;
  top: 31px;
  margin-left: 136px;
}

.optionsSpinner {
  position: absolute;
  top: 31px;
  margin-left: 90px;
}

.runParametersSpinner {
  position: absolute;
  top: 31px;
  margin-left: 166px;
}

.loginSpinner {
  position: absolute;
  top: 31px;
  margin-left: 66px;
}

.resendSpinner {
  position: absolute;
  top: 31px;
  margin-left: 145px;

}

.newUserSpinner {
  position: absolute;
  top: 31px;
  margin-left: 100px;

}

.runningSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.progressSpinner {
  position: fixed;
  top: 31px;
  margin-left: 91px;
}

.scenariosBtn {
  margin: 5px;
}

.chooseRenderer {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: white;
}

.mapboxHelp {
  cursor: pointer;
  margin-left: 10px;
}

.forgotLink {
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  color: cadetblue;
  margin-left: 11px;

}

/*for the cells in the run parameters table so that they do not look different to the non-editable cells */

div.rt-tbody>div>div>div>div {
  background-color: rgba(0, 0, 0, 0) !important;
}

.logButton {
  position: absolute;
  top: 345px;
}

.classificationButton {
  position: absolute;
  top: 345px;
  left: 80px;
}

.runLabel {
  margin-left: 29px;
}

.runs {
  font-size: 10px;
  padding: 10px;
}

.description {
  font-size: 13px;
}

.createDate {
  font-size: 13px;
}

.dialog {
  margin-left: 73px;
  width: 500px !important;
  padding-top: 0px !important;

}

.dialog2 {
  margin-left: 123px;
  margin-top: 38px;
  width: 500px !important;
  padding-top: 0px !important;

}

.dialog3 {
  margin-left: 174px;
  margin-top: 86px;
  width: 500px !important;
  padding-top: 0px !important;

}

.scenariosDialog {
  margin-left: 73px;
  width: 500px !important;
  padding-top: 0px !important;
  height: 566px !important;
}

.renderer {
  margin: 0px 46px !important;
}

.renderers {
  margin-left: 34px;
  margin-top: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.newPUDialogPane {
  width: 500px;
  height: 340px;
  /*margin-left: 80px;*/
}

