.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.rightPane {
  position: absolute;
  right: 0px;
  left: 261px;
  bottom: 0px;
  top: 64px;
  overflow: auto;
}

.rightPaneInner {}

.IndicatorSummary {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 5px 5px 3px 3px;
  min-width: 200px;
  max-width: 200px;
  color: rgba(0, 0, 0, 0.87);
  margin: 10px;
  display: inline-block;
}

.IndicatorSummary:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.IndicatorSummaryTitle {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 188, 212);
  border-radius: 3px;
  text-align: center;
}

.sparklineDiv {
  padding: 20px 10px 10px 10px;
}

.TargetItem {
  font-size: 16px;
}

.MetChart {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  margin: 10px;
  display: inline-block;

}

.MetChart:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 3px 4px;
}

.MetChartDiv {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.MetChartPercentLabel {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top:47px;
  width: 100%;
}

.MetChartTitle {
  text-align: center;
  padding: 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  width: 120px;
  background-color: #f6f6f6
}

.MetChartInner {
  text-align: -webkit-center;
  position: relative;
}
